.gradle
build/ sec 0

# Source code
src/21*

#Run files
runclient

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

#IDE files
.idea
*.iml
run/set 164

out/
